.dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1;
    flex-grow: 1; /* Ensures it takes up available space */
}

.option-box {
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.option-box h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.option-box p {
    font-size: 0.9rem;
    color: #666;
    margin: 0.5rem 0 0 0;
}

.yield-box {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    color: #333;
}

.recommend-box {
    background-color: #333;
    color: white;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.recommend-box h2 {
    color: white;
}

.recommend-box p {
    color: #ccc;
}

.option-box:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.select-wrapper { 
    position: relative; 
    width: 100%; 
}

.select-wrapper::after {
    content: '▼'; 
    font-size: 1rem; 
    color: #555; 
    position: absolute;
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
    pointer-events: none;
}

.styled-select {
    width: 82%; 
    padding: 1rem 1.5rem; 
    border: 2px solid #E0E0E0;
    border-radius: 12px; 
    background-color: #FFFFFF; 
    font-size: 1rem;
    font-family: 'Poppins', sans-serif; 
    color: #333; 
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
}

.styled-select:focus { 
    outline: none; 
    border-color: #A3B489; 
}

/* Add this to the bottom of DashboardPage.css */

.submit-button {
  margin-top: 1.5rem;
  width: 100%;
  background-color: #A3B489; /* A green color from your design */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #8a9a73;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Add this to the bottom of DashboardPage.css */

.search-wrapper { 
    position: relative; 
    width: 100%; 
}

.search-results-list {
    list-style-type: none;
    padding: 0.5rem 0;
    margin: 0.5rem 0 0 0;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 2px solid #E0E0E0;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-height: 180px; /* Adjust height as needed */
    overflow-y: auto;
    z-index: 10;
}

.search-results-list li {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

.search-results-list li:hover {
    background-color: #f2f2f2;
}